name: Build and deploy Python app to Azure Web App - GPTLinkedIn

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Create venv and install backend dependencies
        working-directory: backend
        run: |
          python -m venv antenv
          source antenv/bin/activate
          pip install -r requirements.txt

